<link rel="stylesheet" href="/css/home.css">

<h1> Sign Up</h1>
<form action="/users/create" method="POST">
    <label for="uname">Username:</label>
    <input type="text" name="name" id="uname" placeholder="username" required><br>
    <label for="email">Emails:</label>
    <input type="email" name="email" id="email" placeholder="abc@gmail.com" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="password" required><br>
    <label for="password">Condfirm Password:</label>
    <input type="password" name="confirm_password" id="password" placeholder="password" ><br>
    <input type = "Submit" value = "SignUp">
</form>