<h1> Sign In</h1>

<form action="/users/create-session" method="POST"></form>
<input type="email" name="email" id="email" placeholder="abc@gmail.com" required><br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" placeholder="password" required><br>
<input type = "Submit" value = "SignUp">
</form>